apiVersion: v1
kind: Service
metadata:
  name: city-service
  namespace: weather-app
  labels:
    app: city-service
spec:
  type: ClusterIP
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http
  selector:
    app: city-service