apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: weather-app
  labels:
    app: weather-service
spec:
  type: ClusterIP
  ports:
  - port: 5002
    targetPort: 5002
    protocol: TCP
    name: http
  selector:
    app: weather-service